/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
blockquote,
pre,
form,
fieldset,
table,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.columns:after {
  content: "";
  display: block;
  clear: both;
}

.columns.center {
  text-align: center;
}

.columns.center [class*=grid] {
  float: none;
  display: inline-block;
  margin: 0 auto;
}

.columns .grid-1 {
  width: 4.66667%;
  float: left;
  margin-right: 4%;
}

@media (max-width: 480px) {
  .columns .grid-1 {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .columns .grid-1 {
    width: 100%;
  }
}

.columns .grid-1:nth-last-child(1) {
  margin-right: 0;
}

@media (max-width: 650px) {
  .columns .smaller-1 {
    width: 4.66667% !important;
  }
}

@media (max-width: 480px) {
  .columns .smallest-1 {
    width: 4.66667% !important;
  }
}

.columns-no-gutter:after {
  content: "";
  display: block;
  clear: both;
}

.columns-no-gutter .grid-1 {
  width: 8.33333%;
  float: left;
}

@media (max-width: 480px) {
  .columns-no-gutter .grid-1 {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .columns-no-gutter .grid-1 {
    width: 100%;
  }
}

.columns-no-gutter.center {
  text-align: center;
}

.columns-no-gutter.center [class*=grid] {
  float: none;
  display: inline-block;
  margin: 0 auto;
}

@media (max-width: 650px) {
  .columns-no-gutter .smaller-1 {
    width: 8.33333% !important;
  }
}

@media (max-width: 480px) {
  .columns-no-gutter .smallest-1 {
    width: 8.33333% !important;
  }
}

.columns:after {
  content: "";
  display: block;
  clear: both;
}

.columns.center {
  text-align: center;
}

.columns.center [class*=grid] {
  float: none;
  display: inline-block;
  margin: 0 auto;
}

.columns .grid-2 {
  width: 13.33333%;
  float: left;
  margin-right: 4%;
}

@media (max-width: 480px) {
  .columns .grid-2 {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .columns .grid-2 {
    width: 100%;
  }
}

.columns .grid-2:nth-last-child(1) {
  margin-right: 0;
}

@media (max-width: 650px) {
  .columns .smaller-2 {
    width: 13.33333% !important;
  }
}

@media (max-width: 480px) {
  .columns .smallest-2 {
    width: 13.33333% !important;
  }
}

.columns-no-gutter:after {
  content: "";
  display: block;
  clear: both;
}

.columns-no-gutter .grid-2 {
  width: 16.66667%;
  float: left;
}

@media (max-width: 480px) {
  .columns-no-gutter .grid-2 {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .columns-no-gutter .grid-2 {
    width: 100%;
  }
}

.columns-no-gutter.center {
  text-align: center;
}

.columns-no-gutter.center [class*=grid] {
  float: none;
  display: inline-block;
  margin: 0 auto;
}

@media (max-width: 650px) {
  .columns-no-gutter .smaller-2 {
    width: 16.66667% !important;
  }
}

@media (max-width: 480px) {
  .columns-no-gutter .smallest-2 {
    width: 16.66667% !important;
  }
}

.columns:after {
  content: "";
  display: block;
  clear: both;
}

.columns.center {
  text-align: center;
}

.columns.center [class*=grid] {
  float: none;
  display: inline-block;
  margin: 0 auto;
}

.columns .grid-3 {
  width: 22%;
  float: left;
  margin-right: 4%;
}

@media (max-width: 480px) {
  .columns .grid-3 {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .columns .grid-3 {
    width: 100%;
  }
}

.columns .grid-3:nth-last-child(1) {
  margin-right: 0;
}

@media (max-width: 650px) {
  .columns .smaller-3 {
    width: 22% !important;
  }
}

@media (max-width: 480px) {
  .columns .smallest-3 {
    width: 22% !important;
  }
}

.columns-no-gutter:after {
  content: "";
  display: block;
  clear: both;
}

.columns-no-gutter .grid-3 {
  width: 25%;
  float: left;
}

@media (max-width: 480px) {
  .columns-no-gutter .grid-3 {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .columns-no-gutter .grid-3 {
    width: 100%;
  }
}

.columns-no-gutter.center {
  text-align: center;
}

.columns-no-gutter.center [class*=grid] {
  float: none;
  display: inline-block;
  margin: 0 auto;
}

@media (max-width: 650px) {
  .columns-no-gutter .smaller-3 {
    width: 25% !important;
  }
}

@media (max-width: 480px) {
  .columns-no-gutter .smallest-3 {
    width: 25% !important;
  }
}

.columns:after {
  content: "";
  display: block;
  clear: both;
}

.columns.center {
  text-align: center;
}

.columns.center [class*=grid] {
  float: none;
  display: inline-block;
  margin: 0 auto;
}

.columns .grid-4 {
  width: 30.66667%;
  float: left;
  margin-right: 4%;
}

@media (max-width: 480px) {
  .columns .grid-4 {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .columns .grid-4 {
    width: 100%;
  }
}

.columns .grid-4:nth-last-child(1) {
  margin-right: 0;
}

@media (max-width: 650px) {
  .columns .smaller-4 {
    width: 30.66667% !important;
  }
}

@media (max-width: 480px) {
  .columns .smallest-4 {
    width: 30.66667% !important;
  }
}

.columns-no-gutter:after {
  content: "";
  display: block;
  clear: both;
}

.columns-no-gutter .grid-4 {
  width: 33.33333%;
  float: left;
}

@media (max-width: 480px) {
  .columns-no-gutter .grid-4 {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .columns-no-gutter .grid-4 {
    width: 100%;
  }
}

.columns-no-gutter.center {
  text-align: center;
}

.columns-no-gutter.center [class*=grid] {
  float: none;
  display: inline-block;
  margin: 0 auto;
}

@media (max-width: 650px) {
  .columns-no-gutter .smaller-4 {
    width: 33.33333% !important;
  }
}

@media (max-width: 480px) {
  .columns-no-gutter .smallest-4 {
    width: 33.33333% !important;
  }
}

.columns:after {
  content: "";
  display: block;
  clear: both;
}

.columns.center {
  text-align: center;
}

.columns.center [class*=grid] {
  float: none;
  display: inline-block;
  margin: 0 auto;
}

.columns .grid-5 {
  width: 39.33333%;
  float: left;
  margin-right: 4%;
}

@media (max-width: 480px) {
  .columns .grid-5 {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .columns .grid-5 {
    width: 100%;
  }
}

.columns .grid-5:nth-last-child(1) {
  margin-right: 0;
}

@media (max-width: 650px) {
  .columns .smaller-5 {
    width: 39.33333% !important;
  }
}

@media (max-width: 480px) {
  .columns .smallest-5 {
    width: 39.33333% !important;
  }
}

.columns-no-gutter:after {
  content: "";
  display: block;
  clear: both;
}

.columns-no-gutter .grid-5 {
  width: 41.66667%;
  float: left;
}

@media (max-width: 480px) {
  .columns-no-gutter .grid-5 {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .columns-no-gutter .grid-5 {
    width: 100%;
  }
}

.columns-no-gutter.center {
  text-align: center;
}

.columns-no-gutter.center [class*=grid] {
  float: none;
  display: inline-block;
  margin: 0 auto;
}

@media (max-width: 650px) {
  .columns-no-gutter .smaller-5 {
    width: 41.66667% !important;
  }
}

@media (max-width: 480px) {
  .columns-no-gutter .smallest-5 {
    width: 41.66667% !important;
  }
}

.columns:after {
  content: "";
  display: block;
  clear: both;
}

.columns.center {
  text-align: center;
}

.columns.center [class*=grid] {
  float: none;
  display: inline-block;
  margin: 0 auto;
}

.columns .grid-6 {
  width: 48%;
  float: left;
  margin-right: 4%;
}

@media (max-width: 480px) {
  .columns .grid-6 {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .columns .grid-6 {
    width: 100%;
  }
}

.columns .grid-6:nth-last-child(1) {
  margin-right: 0;
}

@media (max-width: 650px) {
  .columns .smaller-6 {
    width: 48% !important;
  }
}

@media (max-width: 480px) {
  .columns .smallest-6 {
    width: 48% !important;
  }
}

.columns-no-gutter:after {
  content: "";
  display: block;
  clear: both;
}

.columns-no-gutter .grid-6 {
  width: 50%;
  float: left;
}

@media (max-width: 480px) {
  .columns-no-gutter .grid-6 {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .columns-no-gutter .grid-6 {
    width: 100%;
  }
}

.columns-no-gutter.center {
  text-align: center;
}

.columns-no-gutter.center [class*=grid] {
  float: none;
  display: inline-block;
  margin: 0 auto;
}

@media (max-width: 650px) {
  .columns-no-gutter .smaller-6 {
    width: 50% !important;
  }
}

@media (max-width: 480px) {
  .columns-no-gutter .smallest-6 {
    width: 50% !important;
  }
}

.columns:after {
  content: "";
  display: block;
  clear: both;
}

.columns.center {
  text-align: center;
}

.columns.center [class*=grid] {
  float: none;
  display: inline-block;
  margin: 0 auto;
}

.columns .grid-7 {
  width: 56.66667%;
  float: left;
  margin-right: 4%;
}

@media (max-width: 480px) {
  .columns .grid-7 {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .columns .grid-7 {
    width: 100%;
  }
}

.columns .grid-7:nth-last-child(1) {
  margin-right: 0;
}

@media (max-width: 650px) {
  .columns .smaller-7 {
    width: 56.66667% !important;
  }
}

@media (max-width: 480px) {
  .columns .smallest-7 {
    width: 56.66667% !important;
  }
}

.columns-no-gutter:after {
  content: "";
  display: block;
  clear: both;
}

.columns-no-gutter .grid-7 {
  width: 58.33333%;
  float: left;
}

@media (max-width: 480px) {
  .columns-no-gutter .grid-7 {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .columns-no-gutter .grid-7 {
    width: 100%;
  }
}

.columns-no-gutter.center {
  text-align: center;
}

.columns-no-gutter.center [class*=grid] {
  float: none;
  display: inline-block;
  margin: 0 auto;
}

@media (max-width: 650px) {
  .columns-no-gutter .smaller-7 {
    width: 58.33333% !important;
  }
}

@media (max-width: 480px) {
  .columns-no-gutter .smallest-7 {
    width: 58.33333% !important;
  }
}

.columns:after {
  content: "";
  display: block;
  clear: both;
}

.columns.center {
  text-align: center;
}

.columns.center [class*=grid] {
  float: none;
  display: inline-block;
  margin: 0 auto;
}

.columns .grid-8 {
  width: 65.33333%;
  float: left;
  margin-right: 4%;
}

@media (max-width: 480px) {
  .columns .grid-8 {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .columns .grid-8 {
    width: 100%;
  }
}

.columns .grid-8:nth-last-child(1) {
  margin-right: 0;
}

@media (max-width: 650px) {
  .columns .smaller-8 {
    width: 65.33333% !important;
  }
}

@media (max-width: 480px) {
  .columns .smallest-8 {
    width: 65.33333% !important;
  }
}

.columns-no-gutter:after {
  content: "";
  display: block;
  clear: both;
}

.columns-no-gutter .grid-8 {
  width: 66.66667%;
  float: left;
}

@media (max-width: 480px) {
  .columns-no-gutter .grid-8 {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .columns-no-gutter .grid-8 {
    width: 100%;
  }
}

.columns-no-gutter.center {
  text-align: center;
}

.columns-no-gutter.center [class*=grid] {
  float: none;
  display: inline-block;
  margin: 0 auto;
}

@media (max-width: 650px) {
  .columns-no-gutter .smaller-8 {
    width: 66.66667% !important;
  }
}

@media (max-width: 480px) {
  .columns-no-gutter .smallest-8 {
    width: 66.66667% !important;
  }
}

.columns:after {
  content: "";
  display: block;
  clear: both;
}

.columns.center {
  text-align: center;
}

.columns.center [class*=grid] {
  float: none;
  display: inline-block;
  margin: 0 auto;
}

.columns .grid-9 {
  width: 74%;
  float: left;
  margin-right: 4%;
}

@media (max-width: 480px) {
  .columns .grid-9 {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .columns .grid-9 {
    width: 100%;
  }
}

.columns .grid-9:nth-last-child(1) {
  margin-right: 0;
}

@media (max-width: 650px) {
  .columns .smaller-9 {
    width: 74% !important;
  }
}

@media (max-width: 480px) {
  .columns .smallest-9 {
    width: 74% !important;
  }
}

.columns-no-gutter:after {
  content: "";
  display: block;
  clear: both;
}

.columns-no-gutter .grid-9 {
  width: 75%;
  float: left;
}

@media (max-width: 480px) {
  .columns-no-gutter .grid-9 {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .columns-no-gutter .grid-9 {
    width: 100%;
  }
}

.columns-no-gutter.center {
  text-align: center;
}

.columns-no-gutter.center [class*=grid] {
  float: none;
  display: inline-block;
  margin: 0 auto;
}

@media (max-width: 650px) {
  .columns-no-gutter .smaller-9 {
    width: 75% !important;
  }
}

@media (max-width: 480px) {
  .columns-no-gutter .smallest-9 {
    width: 75% !important;
  }
}

.columns:after {
  content: "";
  display: block;
  clear: both;
}

.columns.center {
  text-align: center;
}

.columns.center [class*=grid] {
  float: none;
  display: inline-block;
  margin: 0 auto;
}

.columns .grid-10 {
  width: 82.66667%;
  float: left;
  margin-right: 4%;
}

@media (max-width: 480px) {
  .columns .grid-10 {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .columns .grid-10 {
    width: 100%;
  }
}

.columns .grid-10:nth-last-child(1) {
  margin-right: 0;
}

@media (max-width: 650px) {
  .columns .smaller-10 {
    width: 82.66667% !important;
  }
}

@media (max-width: 480px) {
  .columns .smallest-10 {
    width: 82.66667% !important;
  }
}

.columns-no-gutter:after {
  content: "";
  display: block;
  clear: both;
}

.columns-no-gutter .grid-10 {
  width: 83.33333%;
  float: left;
}

@media (max-width: 480px) {
  .columns-no-gutter .grid-10 {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .columns-no-gutter .grid-10 {
    width: 100%;
  }
}

.columns-no-gutter.center {
  text-align: center;
}

.columns-no-gutter.center [class*=grid] {
  float: none;
  display: inline-block;
  margin: 0 auto;
}

@media (max-width: 650px) {
  .columns-no-gutter .smaller-10 {
    width: 83.33333% !important;
  }
}

@media (max-width: 480px) {
  .columns-no-gutter .smallest-10 {
    width: 83.33333% !important;
  }
}

.columns:after {
  content: "";
  display: block;
  clear: both;
}

.columns.center {
  text-align: center;
}

.columns.center [class*=grid] {
  float: none;
  display: inline-block;
  margin: 0 auto;
}

.columns .grid-11 {
  width: 91.33333%;
  float: left;
  margin-right: 4%;
}

@media (max-width: 480px) {
  .columns .grid-11 {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .columns .grid-11 {
    width: 100%;
  }
}

.columns .grid-11:nth-last-child(1) {
  margin-right: 0;
}

@media (max-width: 650px) {
  .columns .smaller-11 {
    width: 91.33333% !important;
  }
}

@media (max-width: 480px) {
  .columns .smallest-11 {
    width: 91.33333% !important;
  }
}

.columns-no-gutter:after {
  content: "";
  display: block;
  clear: both;
}

.columns-no-gutter .grid-11 {
  width: 91.66667%;
  float: left;
}

@media (max-width: 480px) {
  .columns-no-gutter .grid-11 {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .columns-no-gutter .grid-11 {
    width: 100%;
  }
}

.columns-no-gutter.center {
  text-align: center;
}

.columns-no-gutter.center [class*=grid] {
  float: none;
  display: inline-block;
  margin: 0 auto;
}

@media (max-width: 650px) {
  .columns-no-gutter .smaller-11 {
    width: 91.66667% !important;
  }
}

@media (max-width: 480px) {
  .columns-no-gutter .smallest-11 {
    width: 91.66667% !important;
  }
}

.columns:after {
  content: "";
  display: block;
  clear: both;
}

.columns.center {
  text-align: center;
}

.columns.center [class*=grid] {
  float: none;
  display: inline-block;
  margin: 0 auto;
}

.columns .grid-12 {
  width: 100%;
  float: left;
  margin-right: 4%;
}

@media (max-width: 480px) {
  .columns .grid-12 {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .columns .grid-12 {
    width: 100%;
  }
}

.columns .grid-12:nth-last-child(1) {
  margin-right: 0;
}

@media (max-width: 650px) {
  .columns .smaller-12 {
    width: 100% !important;
  }
}

@media (max-width: 480px) {
  .columns .smallest-12 {
    width: 100% !important;
  }
}

.columns-no-gutter:after {
  content: "";
  display: block;
  clear: both;
}

.columns-no-gutter .grid-12 {
  width: 100%;
  float: left;
}

@media (max-width: 480px) {
  .columns-no-gutter .grid-12 {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .columns-no-gutter .grid-12 {
    width: 100%;
  }
}

.columns-no-gutter.center {
  text-align: center;
}

.columns-no-gutter.center [class*=grid] {
  float: none;
  display: inline-block;
  margin: 0 auto;
}

@media (max-width: 650px) {
  .columns-no-gutter .smaller-12 {
    width: 100% !important;
  }
}

@media (max-width: 480px) {
  .columns-no-gutter .smallest-12 {
    width: 100% !important;
  }
}

/*@include grid_base;*/

.breakpoint_level:after {
  position: fixed;
  right: 0;
  display: inline-block;
  background-color: green;
  color: white;
  top: 0;
  content: "Above Papa Bear";
}

@media (max-width: 1600px) {
  .breakpoint_level:after {
    content: "Papa Bear";
  }
}

@media (max-width: 1250px) {
  .breakpoint_level:after {
    content: "Mama Bear";
  }
}

@media (max-width: 850px) {
  .breakpoint_level:after {
    content: "Youth Bear";
  }
}

@media (max-width: 650px) {
  .breakpoint_level:after {
    content: "Child Bear";
  }
}

@media (max-width: 480px) {
  .breakpoint_level:after {
    content: "Baby Bear";
  }
}