/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
blockquote,
pre,
form,
fieldset,
table,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.row {
  clear: both !important;
  float: none !important;
}

/* Making sure parent container for grid elements 
   takes up 100% of its parent */

[class*="columns"] {
  width: 100%;
  position: relative;
  display: block;
  /* Making sure parent container does not collapse */
  /* Fixing calculation deficiencies that 
     browsers have had for years */
}

[class*="columns"]:after {
  content: "";
  display: block;
  clear: both;
}

[class*="columns"] * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Setting base width of all grid elements */

[class*="grid-"] {
  display: inline-block;
}

[class*="grid-"] img {
  max-width: 100%;
  height: auto;
}

/* Base style for mobile first grid */

.columns .grid-1 {
  width: 100%;
  float: left;
  margin-right: 4%;
}

@media (min-width: 481px) {
  .columns .grid-1 {
    width: 4.66667%;
  }
}

.columns .grid-1:nth-last-child(1) {
  margin-right: 0;
}

.columns.center {
  text-align: center;
}

.columns.center [class*=grid] {
  float: none;
  display: inline-block;
  margin: 0 auto;
}

.columns-no-gutter .grid-1 {
  width: 100%;
  float: left;
  margin-right: 0%;
}

@media (min-width: 481px) {
  .columns-no-gutter .grid-1 {
    width: 8.33333%;
  }
}

.columns-no-gutter .grid-1:nth-last-child(1) {
  margin-right: 0;
}

.columns-no-gutter.center {
  text-align: center;
}

.columns-no-gutter.center [class*=grid] {
  float: none;
  display: inline-block;
  margin: 0 auto;
}

.columns .grid-2 {
  width: 100%;
  float: left;
  margin-right: 4%;
}

@media (min-width: 481px) {
  .columns .grid-2 {
    width: 13.33333%;
  }
}

.columns .grid-2:nth-last-child(1) {
  margin-right: 0;
}

.columns.center {
  text-align: center;
}

.columns.center [class*=grid] {
  float: none;
  display: inline-block;
  margin: 0 auto;
}

.columns-no-gutter .grid-2 {
  width: 100%;
  float: left;
  margin-right: 0%;
}

@media (min-width: 481px) {
  .columns-no-gutter .grid-2 {
    width: 16.66667%;
  }
}

.columns-no-gutter .grid-2:nth-last-child(1) {
  margin-right: 0;
}

.columns-no-gutter.center {
  text-align: center;
}

.columns-no-gutter.center [class*=grid] {
  float: none;
  display: inline-block;
  margin: 0 auto;
}

.columns .grid-3 {
  width: 100%;
  float: left;
  margin-right: 4%;
}

@media (min-width: 481px) {
  .columns .grid-3 {
    width: 22%;
  }
}

.columns .grid-3:nth-last-child(1) {
  margin-right: 0;
}

.columns.center {
  text-align: center;
}

.columns.center [class*=grid] {
  float: none;
  display: inline-block;
  margin: 0 auto;
}

.columns-no-gutter .grid-3 {
  width: 100%;
  float: left;
  margin-right: 0%;
}

@media (min-width: 481px) {
  .columns-no-gutter .grid-3 {
    width: 25%;
  }
}

.columns-no-gutter .grid-3:nth-last-child(1) {
  margin-right: 0;
}

.columns-no-gutter.center {
  text-align: center;
}

.columns-no-gutter.center [class*=grid] {
  float: none;
  display: inline-block;
  margin: 0 auto;
}

.columns .grid-4 {
  width: 100%;
  float: left;
  margin-right: 4%;
}

@media (min-width: 481px) {
  .columns .grid-4 {
    width: 30.66667%;
  }
}

.columns .grid-4:nth-last-child(1) {
  margin-right: 0;
}

.columns.center {
  text-align: center;
}

.columns.center [class*=grid] {
  float: none;
  display: inline-block;
  margin: 0 auto;
}

.columns-no-gutter .grid-4 {
  width: 100%;
  float: left;
  margin-right: 0%;
}

@media (min-width: 481px) {
  .columns-no-gutter .grid-4 {
    width: 33.33333%;
  }
}

.columns-no-gutter .grid-4:nth-last-child(1) {
  margin-right: 0;
}

.columns-no-gutter.center {
  text-align: center;
}

.columns-no-gutter.center [class*=grid] {
  float: none;
  display: inline-block;
  margin: 0 auto;
}

.columns .grid-5 {
  width: 100%;
  float: left;
  margin-right: 4%;
}

@media (min-width: 481px) {
  .columns .grid-5 {
    width: 39.33333%;
  }
}

.columns .grid-5:nth-last-child(1) {
  margin-right: 0;
}

.columns.center {
  text-align: center;
}

.columns.center [class*=grid] {
  float: none;
  display: inline-block;
  margin: 0 auto;
}

.columns-no-gutter .grid-5 {
  width: 100%;
  float: left;
  margin-right: 0%;
}

@media (min-width: 481px) {
  .columns-no-gutter .grid-5 {
    width: 41.66667%;
  }
}

.columns-no-gutter .grid-5:nth-last-child(1) {
  margin-right: 0;
}

.columns-no-gutter.center {
  text-align: center;
}

.columns-no-gutter.center [class*=grid] {
  float: none;
  display: inline-block;
  margin: 0 auto;
}

.columns .grid-6 {
  width: 100%;
  float: left;
  margin-right: 4%;
}

@media (min-width: 481px) {
  .columns .grid-6 {
    width: 48%;
  }
}

.columns .grid-6:nth-last-child(1) {
  margin-right: 0;
}

.columns.center {
  text-align: center;
}

.columns.center [class*=grid] {
  float: none;
  display: inline-block;
  margin: 0 auto;
}

.columns-no-gutter .grid-6 {
  width: 100%;
  float: left;
  margin-right: 0%;
}

@media (min-width: 481px) {
  .columns-no-gutter .grid-6 {
    width: 50%;
  }
}

.columns-no-gutter .grid-6:nth-last-child(1) {
  margin-right: 0;
}

.columns-no-gutter.center {
  text-align: center;
}

.columns-no-gutter.center [class*=grid] {
  float: none;
  display: inline-block;
  margin: 0 auto;
}

.columns .grid-7 {
  width: 100%;
  float: left;
  margin-right: 4%;
}

@media (min-width: 481px) {
  .columns .grid-7 {
    width: 56.66667%;
  }
}

.columns .grid-7:nth-last-child(1) {
  margin-right: 0;
}

.columns.center {
  text-align: center;
}

.columns.center [class*=grid] {
  float: none;
  display: inline-block;
  margin: 0 auto;
}

.columns-no-gutter .grid-7 {
  width: 100%;
  float: left;
  margin-right: 0%;
}

@media (min-width: 481px) {
  .columns-no-gutter .grid-7 {
    width: 58.33333%;
  }
}

.columns-no-gutter .grid-7:nth-last-child(1) {
  margin-right: 0;
}

.columns-no-gutter.center {
  text-align: center;
}

.columns-no-gutter.center [class*=grid] {
  float: none;
  display: inline-block;
  margin: 0 auto;
}

.columns .grid-8 {
  width: 100%;
  float: left;
  margin-right: 4%;
}

@media (min-width: 481px) {
  .columns .grid-8 {
    width: 65.33333%;
  }
}

.columns .grid-8:nth-last-child(1) {
  margin-right: 0;
}

.columns.center {
  text-align: center;
}

.columns.center [class*=grid] {
  float: none;
  display: inline-block;
  margin: 0 auto;
}

.columns-no-gutter .grid-8 {
  width: 100%;
  float: left;
  margin-right: 0%;
}

@media (min-width: 481px) {
  .columns-no-gutter .grid-8 {
    width: 66.66667%;
  }
}

.columns-no-gutter .grid-8:nth-last-child(1) {
  margin-right: 0;
}

.columns-no-gutter.center {
  text-align: center;
}

.columns-no-gutter.center [class*=grid] {
  float: none;
  display: inline-block;
  margin: 0 auto;
}

.columns .grid-9 {
  width: 100%;
  float: left;
  margin-right: 4%;
}

@media (min-width: 481px) {
  .columns .grid-9 {
    width: 74%;
  }
}

.columns .grid-9:nth-last-child(1) {
  margin-right: 0;
}

.columns.center {
  text-align: center;
}

.columns.center [class*=grid] {
  float: none;
  display: inline-block;
  margin: 0 auto;
}

.columns-no-gutter .grid-9 {
  width: 100%;
  float: left;
  margin-right: 0%;
}

@media (min-width: 481px) {
  .columns-no-gutter .grid-9 {
    width: 75%;
  }
}

.columns-no-gutter .grid-9:nth-last-child(1) {
  margin-right: 0;
}

.columns-no-gutter.center {
  text-align: center;
}

.columns-no-gutter.center [class*=grid] {
  float: none;
  display: inline-block;
  margin: 0 auto;
}

.columns .grid-10 {
  width: 100%;
  float: left;
  margin-right: 4%;
}

@media (min-width: 481px) {
  .columns .grid-10 {
    width: 82.66667%;
  }
}

.columns .grid-10:nth-last-child(1) {
  margin-right: 0;
}

.columns.center {
  text-align: center;
}

.columns.center [class*=grid] {
  float: none;
  display: inline-block;
  margin: 0 auto;
}

.columns-no-gutter .grid-10 {
  width: 100%;
  float: left;
  margin-right: 0%;
}

@media (min-width: 481px) {
  .columns-no-gutter .grid-10 {
    width: 83.33333%;
  }
}

.columns-no-gutter .grid-10:nth-last-child(1) {
  margin-right: 0;
}

.columns-no-gutter.center {
  text-align: center;
}

.columns-no-gutter.center [class*=grid] {
  float: none;
  display: inline-block;
  margin: 0 auto;
}

.columns .grid-11 {
  width: 100%;
  float: left;
  margin-right: 4%;
}

@media (min-width: 481px) {
  .columns .grid-11 {
    width: 91.33333%;
  }
}

.columns .grid-11:nth-last-child(1) {
  margin-right: 0;
}

.columns.center {
  text-align: center;
}

.columns.center [class*=grid] {
  float: none;
  display: inline-block;
  margin: 0 auto;
}

.columns-no-gutter .grid-11 {
  width: 100%;
  float: left;
  margin-right: 0%;
}

@media (min-width: 481px) {
  .columns-no-gutter .grid-11 {
    width: 91.66667%;
  }
}

.columns-no-gutter .grid-11:nth-last-child(1) {
  margin-right: 0;
}

.columns-no-gutter.center {
  text-align: center;
}

.columns-no-gutter.center [class*=grid] {
  float: none;
  display: inline-block;
  margin: 0 auto;
}

.columns .grid-12 {
  width: 100%;
  float: left;
  margin-right: 4%;
}

@media (min-width: 481px) {
  .columns .grid-12 {
    width: 100%;
  }
}

.columns .grid-12:nth-last-child(1) {
  margin-right: 0;
}

.columns.center {
  text-align: center;
}

.columns.center [class*=grid] {
  float: none;
  display: inline-block;
  margin: 0 auto;
}

.columns-no-gutter .grid-12 {
  width: 100%;
  float: left;
  margin-right: 0%;
}

@media (min-width: 481px) {
  .columns-no-gutter .grid-12 {
    width: 100%;
  }
}

.columns-no-gutter .grid-12:nth-last-child(1) {
  margin-right: 0;
}

.columns-no-gutter.center {
  text-align: center;
}

.columns-no-gutter.center [class*=grid] {
  float: none;
  display: inline-block;
  margin: 0 auto;
}

/* Style for Baby bear proportions - see top of file 
   for media query definitions */

@media (min-width: 481px) and (max-width: 650px) {
  .columns .baby-1 {
    width: 4.66667%;
  }

  .columns-no-gutter .baby-1 {
    width: 8.33333%;
  }

  .columns .baby-2 {
    width: 13.33333%;
  }

  .columns-no-gutter .baby-2 {
    width: 16.66667%;
  }

  .columns .baby-3 {
    width: 22%;
  }

  .columns-no-gutter .baby-3 {
    width: 25%;
  }

  .columns .baby-4 {
    width: 30.66667%;
  }

  .columns-no-gutter .baby-4 {
    width: 33.33333%;
  }

  .columns .baby-5 {
    width: 39.33333%;
  }

  .columns-no-gutter .baby-5 {
    width: 41.66667%;
  }

  .columns .baby-6 {
    width: 48%;
  }

  .columns-no-gutter .baby-6 {
    width: 50%;
  }

  .columns .baby-7 {
    width: 56.66667%;
  }

  .columns-no-gutter .baby-7 {
    width: 58.33333%;
  }

  .columns .baby-8 {
    width: 65.33333%;
  }

  .columns-no-gutter .baby-8 {
    width: 66.66667%;
  }

  .columns .baby-9 {
    width: 74%;
  }

  .columns-no-gutter .baby-9 {
    width: 75%;
  }

  .columns .baby-10 {
    width: 82.66667%;
  }

  .columns-no-gutter .baby-10 {
    width: 83.33333%;
  }

  .columns .baby-11 {
    width: 91.33333%;
  }

  .columns-no-gutter .baby-11 {
    width: 91.66667%;
  }

  .columns .baby-12 {
    width: 100%;
  }

  .columns-no-gutter .baby-12 {
    width: 100%;
  }
}

/* Style for child bear proportions - see top of file 
   for media query definitions */

@media (min-width: 651px) and (max-width: 850px) {
  .columns .child-1 {
    width: 4.66667%;
  }

  .columns-no-gutter .child-1 {
    width: 8.33333%;
  }

  .columns .child-2 {
    width: 13.33333%;
  }

  .columns-no-gutter .child-2 {
    width: 16.66667%;
  }

  .columns .child-3 {
    width: 22%;
  }

  .columns-no-gutter .child-3 {
    width: 25%;
  }

  .columns .child-4 {
    width: 30.66667%;
  }

  .columns-no-gutter .child-4 {
    width: 33.33333%;
  }

  .columns .child-5 {
    width: 39.33333%;
  }

  .columns-no-gutter .child-5 {
    width: 41.66667%;
  }

  .columns .child-6 {
    width: 48%;
  }

  .columns-no-gutter .child-6 {
    width: 50%;
  }

  .columns .child-7 {
    width: 56.66667%;
  }

  .columns-no-gutter .child-7 {
    width: 58.33333%;
  }

  .columns .child-8 {
    width: 65.33333%;
  }

  .columns-no-gutter .child-8 {
    width: 66.66667%;
  }

  .columns .child-9 {
    width: 74%;
  }

  .columns-no-gutter .child-9 {
    width: 75%;
  }

  .columns .child-10 {
    width: 82.66667%;
  }

  .columns-no-gutter .child-10 {
    width: 83.33333%;
  }

  .columns .child-11 {
    width: 91.33333%;
  }

  .columns-no-gutter .child-11 {
    width: 91.66667%;
  }

  .columns .child-12 {
    width: 100%;
  }

  .columns-no-gutter .child-12 {
    width: 100%;
  }
}

/* Style for youth bear proportions - see top of file 
   for media query definitions */

@media (min-width: 851px) and (max-width: 1250px) {
  .columns .youth-1 {
    width: 4.66667%;
  }

  .columns-no-gutter .youth-1 {
    width: 8.33333%;
  }

  .columns .youth-2 {
    width: 13.33333%;
  }

  .columns-no-gutter .youth-2 {
    width: 16.66667%;
  }

  .columns .youth-3 {
    width: 22%;
  }

  .columns-no-gutter .youth-3 {
    width: 25%;
  }

  .columns .youth-4 {
    width: 30.66667%;
  }

  .columns-no-gutter .youth-4 {
    width: 33.33333%;
  }

  .columns .youth-5 {
    width: 39.33333%;
  }

  .columns-no-gutter .youth-5 {
    width: 41.66667%;
  }

  .columns .youth-6 {
    width: 48%;
  }

  .columns-no-gutter .youth-6 {
    width: 50%;
  }

  .columns .youth-7 {
    width: 56.66667%;
  }

  .columns-no-gutter .youth-7 {
    width: 58.33333%;
  }

  .columns .youth-8 {
    width: 65.33333%;
  }

  .columns-no-gutter .youth-8 {
    width: 66.66667%;
  }

  .columns .youth-9 {
    width: 74%;
  }

  .columns-no-gutter .youth-9 {
    width: 75%;
  }

  .columns .youth-10 {
    width: 82.66667%;
  }

  .columns-no-gutter .youth-10 {
    width: 83.33333%;
  }

  .columns .youth-11 {
    width: 91.33333%;
  }

  .columns-no-gutter .youth-11 {
    width: 91.66667%;
  }

  .columns .youth-12 {
    width: 100%;
  }

  .columns-no-gutter .youth-12 {
    width: 100%;
  }
}

/* Style for mama bear proportions - see top of file 
   for media query definitions */

@media (min-width: 1251px) and (max-width: 1600px) {
  .columns .mama-1 {
    width: 4.66667%;
  }

  .columns-no-gutter .mama-1 {
    width: 8.33333%;
  }

  .columns .mama-2 {
    width: 13.33333%;
  }

  .columns-no-gutter .mama-2 {
    width: 16.66667%;
  }

  .columns .mama-3 {
    width: 22%;
  }

  .columns-no-gutter .mama-3 {
    width: 25%;
  }

  .columns .mama-4 {
    width: 30.66667%;
  }

  .columns-no-gutter .mama-4 {
    width: 33.33333%;
  }

  .columns .mama-5 {
    width: 39.33333%;
  }

  .columns-no-gutter .mama-5 {
    width: 41.66667%;
  }

  .columns .mama-6 {
    width: 48%;
  }

  .columns-no-gutter .mama-6 {
    width: 50%;
  }

  .columns .mama-7 {
    width: 56.66667%;
  }

  .columns-no-gutter .mama-7 {
    width: 58.33333%;
  }

  .columns .mama-8 {
    width: 65.33333%;
  }

  .columns-no-gutter .mama-8 {
    width: 66.66667%;
  }

  .columns .mama-9 {
    width: 74%;
  }

  .columns-no-gutter .mama-9 {
    width: 75%;
  }

  .columns .mama-10 {
    width: 82.66667%;
  }

  .columns-no-gutter .mama-10 {
    width: 83.33333%;
  }

  .columns .mama-11 {
    width: 91.33333%;
  }

  .columns-no-gutter .mama-11 {
    width: 91.66667%;
  }

  .columns .mama-12 {
    width: 100%;
  }

  .columns-no-gutter .mama-12 {
    width: 100%;
  }
}

/* Style for papa bear proportions - see top of file 
   for media query definitions */

@media (min-width: 1601px) {
  .columns .papa-1 {
    width: 4.66667%;
  }

  .columns-no-gutter .papa-1 {
    width: 8.33333%;
  }

  .columns .papa-2 {
    width: 13.33333%;
  }

  .columns-no-gutter .papa-2 {
    width: 16.66667%;
  }

  .columns .papa-3 {
    width: 22%;
  }

  .columns-no-gutter .papa-3 {
    width: 25%;
  }

  .columns .papa-4 {
    width: 30.66667%;
  }

  .columns-no-gutter .papa-4 {
    width: 33.33333%;
  }

  .columns .papa-5 {
    width: 39.33333%;
  }

  .columns-no-gutter .papa-5 {
    width: 41.66667%;
  }

  .columns .papa-6 {
    width: 48%;
  }

  .columns-no-gutter .papa-6 {
    width: 50%;
  }

  .columns .papa-7 {
    width: 56.66667%;
  }

  .columns-no-gutter .papa-7 {
    width: 58.33333%;
  }

  .columns .papa-8 {
    width: 65.33333%;
  }

  .columns-no-gutter .papa-8 {
    width: 66.66667%;
  }

  .columns .papa-9 {
    width: 74%;
  }

  .columns-no-gutter .papa-9 {
    width: 75%;
  }

  .columns .papa-10 {
    width: 82.66667%;
  }

  .columns-no-gutter .papa-10 {
    width: 83.33333%;
  }

  .columns .papa-11 {
    width: 91.33333%;
  }

  .columns-no-gutter .papa-11 {
    width: 91.66667%;
  }

  .columns .papa-12 {
    width: 100%;
  }

  .columns-no-gutter .papa-12 {
    width: 100%;
  }
}

/*@include grid_base;*/

.breakpoint_level:after {
  position: fixed;
  right: 0;
  display: inline-block;
  background-color: green;
  color: white;
  top: 0;
  content: "Mobile, Below baby bear";
}

@media (min-width: 481px) and (max-width: 650px) {
  .breakpoint_level:after {
    content: "Baby Bear";
  }
}

@media (min-width: 651px) and (max-width: 850px) {
  .breakpoint_level:after {
    content: "Child Bear";
  }
}

@media (min-width: 851px) and (max-width: 1250px) {
  .breakpoint_level:after {
    content: "Youth Bear";
  }
}

@media (min-width: 1251px) and (max-width: 1600px) {
  .breakpoint_level:after {
    content: "Mama Bear";
  }
}

@media (min-width: 1601px) {
  .breakpoint_level:after {
    content: "Papa Bear";
  }
}