$columns-count : 12;
$gutter-width: 4%;
$margin-bottom: 40px;

//*--- Used to set trigger certain styles for *// 
//*--- certain screen widths------------------*//
@mixin breakpoint($point) {
  @if $point == papa-bear {
    @media (max-width: 1600px) { @content; }
  }
  @else if $point == mama-bear {
    @media (max-width: 1250px) { @content; }
  }
  @else if $point == youth-bear
  {
    @media (max-width: 850px) { @content; }
  }
  @else if $point == child-bear {
    @media (max-width: 650px)  { @content; }
  }
  @else if $point == baby-bear {
    @media (max-width: 480px)  { @content; }
  }
}

*{
  box-sizing: border-box;
}

@for $i from 1 through $columns-count{
  .columns{

    &:after{
      content: "";
      display: block;
      clear: both;
    }

    &.center{
      text-align: center;

      [class*=grid]{
        float: none;
        display: inline-block;
        margin: 0 auto;
      }
    }
    
    .grid-#{$i} {

      width: ($i/$columns-count * 100%) - ($gutter-width) + (($i)/$columns-count * $gutter-width);
      
      @include breakpoint(baby-bear){
        width: 100%;
      }

      @include breakpoint(child-bear){
        width: 100%;
      } 

      float: left;
      margin-right: $gutter-width;

      &:nth-last-child(1){
        margin-right: 0;
      }
    }

    .smaller-#{$i}{
      @include breakpoint(child-bear){
        width: ($i/$columns-count) * 100% !important;
      } 
    }

    .smallest-#{$i}{
      @include breakpoint(baby-bear){
        width: ($i/$columns-count * 100%) - ($gutter-width) + (($i)/$columns-count * $gutter-width) !important; 
      }
    }
  }

  .columns-no-gutter{

    &:after{
      content: "";
      display: block;
      clear: both;
    }
    
    .grid-#{$i} {
      
      width: ($i/$columns-count) * 100%;

      @include breakpoint(baby-bear){
        width: 100%;
      }

      @include breakpoint(child-bear){
        width: 100%;
      } 

      float: left;
    }

    &.center{
      text-align: center;

      [class*=grid]{
        float: none;
        display: inline-block;
        margin: 0 auto;
      }
    }

    .smaller-#{$i}{
      @include breakpoint(child-bear){
        width: ($i/$columns-count) * 100% !important;
      } 
    }

    .smallest-#{$i}{
      @include breakpoint(baby-bear){
        width: ($i/$columns-count) * 100% !important;
      } 
    }

  }
}