/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";
@import "reset";
@import "grid";

/*@include grid_base;*/
.breakpoint_level:after{
	position: fixed;
	right: 0;
	display: inline-block;
	background-color: green;
	color: white;
	top: 0;

	content: "Above Papa Bear";

	@include breakpoint(papa-bear){
		content: "Papa Bear";
	}

	@include breakpoint(mama-bear){
		content: "Mama Bear";
	}

	@include breakpoint(youth-bear){
		content: "Youth Bear";
	}

	@include breakpoint(child-bear){
		content: "Child Bear";
	}

	@include breakpoint(baby-bear){
		content: "Baby Bear";
	}
}